footer{
    padding: 10px;
    margin-top: 15px;
    height: auto;
    border-top: 1px solid;
    width: 98%;
    display: inline-block;
}


.clinks {
    line-height: 19px;
    color: #949292;
    font-size: 11px;
   }