
@font-face {
    font-family: Raleway;
    src: url("../fonts/Raleway-Regular.otf");
}

body {
    font-family: Raleway, sans-serif;
}

a {
    text-decoration: none;
}

ul, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin:  0;
    list-style-type: none;
}

main {
    background-color: #FEFCE8;
}

.logo {
    font-size: 50px;
    width: 20%;
    line-height: 75px;
    color: #FEFCE8;
    display: inline-block;
    padding-left: 10px;
    float: left;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    border: 1px solid black;
}

    .wrapper > header {
        background-color: #67C5C2;
        height: 75px;
        border-bottom: 1px solid black;
    }

    .wrapper > header > nav {
        display: inline-block;
        float: right;
    }

    .navUl {
        display: inline-block;
        padding: 0;
        margin-top: 27px;
        font-size: 20px;
    }

    .navUl li a {
        color: #3D2117;
        padding: 17px 10px;
        border: 1px solid black;
        border-radius: 5px;
        margin-right: 126px;
    }

    .nav li a:hover, .nav li a:link, .nav li a:visited {
        color: #3D2117;
    }

.posts {
    width: 78%;
    margin: 2% 2%;
    float: left;
    border: 1px solid;
}

.tagsHeading {
    margin-top: 14px;
}

#tag {
    display: block;
    margin: 10px 0;
    line-height: 22px;
}

aside {
    display: inline-block;
}

.tagsAside > form {
    margin: 24px 0;
}

.postTitle {
    font-size: 44px;
    color: #67C5C2;
    /*line-height: 33px;*/
    /*margin: 16px 5px;*/
    /*padding: 0 23px;*/
    /*display: block;*/
}
.divContent {
    margin-top: 16px;

}

.innerArticle {
    margin: 16px 32px;
}

.inputs {
    margin: 1.5em;
    padding: 2em;
    display: block;
    width: 80%;
}

textarea.inputs {

    height: 50em;
}

input[type=submit].inputs {
    padding: 15px 0;
    font-size: 30px;
    line-height: 50px;
}

/*.comment-input {*/
    /*margin: 1em;*/
    /*padding: 1em;*/
    /*display: block;*/
    /*width: 50%;*/
/*}*/

